@import "tailwindcss";

:root{
  --fondo: #0b0b0b;
  --panel: #121212;
  --borde: rgba(255,255,255,0.10);
  --texto: #f4f4f5;
  --muted: rgba(244,244,245,0.70);
  --dorado: #c6a84a;
  --dorado2:#a67c2e;
}

body{
  margin:0;
  background: var(--fondo);
  color: var(--texto);
}
